<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-accomodation-heading" jhiTranslate="travelAgencyApp.accomodation.home.createOrEditLabel">Create or edit a Accomodation</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="travelAgencyApp.accomodation.accomodationName" for="field_accomodationName">Accomodation Name</label>
                    <input type="text" class="form-control" name="accomodationName" id="field_accomodationName"
                           formControlName="accomodationName"/>
                    <div *ngIf="editForm.get('accomodationName')!.invalid && (editForm.get('accomodationName')!.dirty || editForm.get('accomodationName')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('accomodationName')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="travelAgencyApp.accomodation.accomodationType" for="field_accomodationType">Accomodation Type</label>
                    <select class="form-control" name="accomodationType" formControlName="accomodationType" id="field_accomodationType">
                        <option value="HOTEL">{{ 'travelAgencyApp.AccomodationType.HOTEL' | translate }}</option>
                        <option value="APPARTMENT">{{ 'travelAgencyApp.AccomodationType.APPARTMENT' | translate }}</option>
                        <option value="TIMESHARE">{{ 'travelAgencyApp.AccomodationType.TIMESHARE' | translate }}</option>
                        <option value="BED_AND_BREAKFAST">{{ 'travelAgencyApp.AccomodationType.BED_AND_BREAKFAST' | translate }}</option>
                        <option value="HOSTEL">{{ 'travelAgencyApp.AccomodationType.HOSTEL' | translate }}</option>
                        <option value="CAMPING">{{ 'travelAgencyApp.AccomodationType.CAMPING' | translate }}</option>
                    </select>
                    <div *ngIf="editForm.get('accomodationType')!.invalid && (editForm.get('accomodationType')!.dirty || editForm.get('accomodationType')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('accomodationType')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="travelAgencyApp.accomodation.accomodationClass" for="field_accomodationClass">Accomodation Class</label>
                    <select class="form-control" name="accomodationClass" formControlName="accomodationClass" id="field_accomodationClass">
                        <option value="FIRST">{{ 'travelAgencyApp.AccomodationClass.FIRST' | translate }}</option>
                        <option value="BUSINESS">{{ 'travelAgencyApp.AccomodationClass.BUSINESS' | translate }}</option>
                        <option value="PREMIUM">{{ 'travelAgencyApp.AccomodationClass.PREMIUM' | translate }}</option>
                        <option value="ECONOMY">{{ 'travelAgencyApp.AccomodationClass.ECONOMY' | translate }}</option>
                    </select>
                    <div *ngIf="editForm.get('accomodationClass')!.invalid && (editForm.get('accomodationClass')!.dirty || editForm.get('accomodationClass')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('accomodationClass')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="travelAgencyApp.accomodation.location" for="field_location">Location</label>
                    <select class="form-control" id="field_location" name="location" formControlName="locationId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="locationOption.id" *ngFor="let locationOption of locations; trackBy: trackById">{{ locationOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
