<div>
    <h2 id="page-heading">
        <span jhiTranslate="travelAgencyApp.accomodation.home.title">Accomodations</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-accomodation" [routerLink]="['/accomodation/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="travelAgencyApp.accomodation.home.createLabel">
            Create a new Accomodation
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="accomodations?.length === 0">
        <span jhiTranslate="travelAgencyApp.accomodation.home.notFound">No accomodations found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="accomodations && accomodations.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="travelAgencyApp.accomodation.accomodationName">Accomodation Name</span></th>
                    <th scope="col" ><span jhiTranslate="travelAgencyApp.accomodation.accomodationType">Accomodation Type</span></th>
                    <th scope="col" ><span jhiTranslate="travelAgencyApp.accomodation.accomodationClass">Accomodation Class</span></th>
                    <th scope="col" ><span jhiTranslate="travelAgencyApp.accomodation.location">Location</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let accomodation of accomodations ;trackBy: trackId">
                    <td><a [routerLink]="['/accomodation', accomodation.id, 'view']">{{ accomodation.id }}</a></td>
                    <td>{{ accomodation.accomodationName }}</td>
                    <td jhiTranslate="{{ 'travelAgencyApp.AccomodationType.' + accomodation.accomodationType }}">{{ accomodation.accomodationType }}</td>
                    <td jhiTranslate="{{ 'travelAgencyApp.AccomodationClass.' + accomodation.accomodationClass }}">{{ accomodation.accomodationClass }}</td>
                    <td>
                        <div *ngIf="accomodation.location">
                            <a [routerLink]="['/location', accomodation.location?.id, 'view']" >{{ accomodation.location?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/accomodation', accomodation.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/accomodation', accomodation.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(accomodation)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
