<div>
    <h2 id="page-heading">
        <span jhiTranslate="travelAgencyApp.pack.home.title">Packs</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-pack" [routerLink]="['/pack/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="travelAgencyApp.pack.home.createLabel">
            Create a new Pack
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="packs?.length === 0">
        <span jhiTranslate="travelAgencyApp.pack.home.notFound">No packs found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="packs && packs.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="travelAgencyApp.pack.packageName">Package Name</span></th>
                    <th scope="col" ><span jhiTranslate="travelAgencyApp.pack.packageDescription">Package Description</span></th>
                    <th scope="col" ><span jhiTranslate="travelAgencyApp.pack.packageDiscount">Package Discount</span></th>
                    <th scope="col" ><span jhiTranslate="travelAgencyApp.pack.packagePrice">Package Price</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let pack of packs ;trackBy: trackId">
                    <td><a [routerLink]="['/pack', pack.id, 'view']">{{ pack.id }}</a></td>
                    <td>{{ pack.packageName }}</td>
                    <td>{{ pack.packageDescription }}</td>
                    <td>{{ pack.packageDiscount }}</td>
                    <td>{{ pack.packagePrice }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/pack', pack.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/pack', pack.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(pack)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
