<div>
    <h2 id="page-heading">
        <span jhiTranslate="travelAgencyApp.service.home.title">Services</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-service" [routerLink]="['/service/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="travelAgencyApp.service.home.createLabel">
            Create a new Service
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="services?.length === 0">
        <span jhiTranslate="travelAgencyApp.service.home.notFound">No services found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="services && services.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="travelAgencyApp.service.serviceDescription">Service Description</span></th>
                    <th scope="col" ><span jhiTranslate="travelAgencyApp.service.serviceStartDate">Service Start Date</span></th>
                    <th scope="col" ><span jhiTranslate="travelAgencyApp.service.serviceEndDate">Service End Date</span></th>
                    <th scope="col" ><span jhiTranslate="travelAgencyApp.service.servicePrice">Service Price</span></th>
                    <th scope="col" ><span jhiTranslate="travelAgencyApp.service.deals">Deals</span></th>
                    <th scope="col" ><span jhiTranslate="travelAgencyApp.service.packages">Packages</span></th>
                    <th scope="col" ><span jhiTranslate="travelAgencyApp.service.accomodations">Accomodations</span></th>
                    <th scope="col" ><span jhiTranslate="travelAgencyApp.service.activities">Activities</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let service of services ;trackBy: trackId">
                    <td><a [routerLink]="['/service', service.id, 'view']">{{ service.id }}</a></td>
                    <td>{{ service.serviceDescription }}</td>
                    <td>{{ service.serviceStartDate | date:'mediumDate' }}</td>
                    <td>{{ service.serviceEndDate | date:'mediumDate' }}</td>
                    <td>{{ service.servicePrice }}</td>
                    <td>
                        <span *ngFor="let deals of service.deals; let last = last">
                            <a class="form-control-static" [routerLink]="['/deal', deals?.id, 'view']">{{ deals.id }}</a>{{ last ? '' : ', ' }}
                        </span>
                    </td>
                    <td>
                        <span *ngFor="let packages of service.packages; let last = last">
                            <a class="form-control-static" [routerLink]="['/pack', packages?.id, 'view']">{{ packages.id }}</a>{{ last ? '' : ', ' }}
                        </span>
                    </td>
                    <td>
                        <span *ngFor="let accomodations of service.accomodations; let last = last">
                            <a class="form-control-static" [routerLink]="['/accomodation', accomodations?.id, 'view']">{{ accomodations.id }}</a>{{ last ? '' : ', ' }}
                        </span>
                    </td>
                    <td>
                        <span *ngFor="let activities of service.activities; let last = last">
                            <a class="form-control-static" [routerLink]="['/activity', activities?.id, 'view']">{{ activities.id }}</a>{{ last ? '' : ', ' }}
                        </span>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/service', service.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/service', service.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(service)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
