<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-transport-heading" jhiTranslate="travelAgencyApp.transport.home.createOrEditLabel">Create or edit a Transport</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="travelAgencyApp.transport.transportType" for="field_transportType">Transport Type</label>
                    <select class="form-control" name="transportType" formControlName="transportType" id="field_transportType">
                        <option value="RAILWAY">{{ 'travelAgencyApp.TransportType.RAILWAY' | translate }}</option>
                        <option value="AIRWAY">{{ 'travelAgencyApp.TransportType.AIRWAY' | translate }}</option>
                        <option value="ROADWAY">{{ 'travelAgencyApp.TransportType.ROADWAY' | translate }}</option>
                        <option value="WATERWAY">{{ 'travelAgencyApp.TransportType.WATERWAY' | translate }}</option>
                    </select>
                    <div *ngIf="editForm.get('transportType')!.invalid && (editForm.get('transportType')!.dirty || editForm.get('transportType')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('transportType')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="travelAgencyApp.transport.transportName" for="field_transportName">Transport Name</label>
                    <input type="text" class="form-control" name="transportName" id="field_transportName"
                           formControlName="transportName"/>
                    <div *ngIf="editForm.get('transportName')!.invalid && (editForm.get('transportName')!.dirty || editForm.get('transportName')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('transportName')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="travelAgencyApp.transport.transportDescription" for="field_transportDescription">Transport Description</label>
                    <input type="text" class="form-control" name="transportDescription" id="field_transportDescription"
                           formControlName="transportDescription"/>
                    <div *ngIf="editForm.get('transportDescription')!.invalid && (editForm.get('transportDescription')!.dirty || editForm.get('transportDescription')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('transportDescription')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="travelAgencyApp.transport.to" for="field_to">To</label>
                    <select class="form-control" id="field_to" name="to" formControlName="to">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="locationOption.id === editForm.get('to')!.value?.id ? editForm.get('to')!.value : locationOption" *ngFor="let locationOption of tos; trackBy: trackById">{{ locationOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="travelAgencyApp.transport.from" for="field_from">From</label>
                    <select class="form-control" id="field_from" name="from" formControlName="from">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="locationOption.id === editForm.get('from')!.value?.id ? editForm.get('from')!.value : locationOption" *ngFor="let locationOption of froms; trackBy: trackById">{{ locationOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label jhiTranslate="travelAgencyApp.transport.service" for="field_services">Service</label>
                    <select class="form-control" id="field_services" multiple name="services" formControlName="services">
                        <option [ngValue]="getSelected(editForm.get('services')!.value, serviceOption)" *ngFor="let serviceOption of services; trackBy: trackById">{{ serviceOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
